<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Slots</title>
</head>
<body>
    <h1>Parking Slots</h1>
    <a href="{% url 'parking_place_new' %}">Create New Parking Slot</a>
    <ul>
        {% for parking_place in parking_places %}
            <li>
                <a href="{% url 'parking_place_view' parking_place.pk %}">{{ parking_place.name }}</a>
                - <a href="{% url 'parking_place_edit' parking_place.pk %}">Edit</a>
                - <a href="{% url 'parking_place_delete' parking_place.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'homepage' %}">Back to Homepage</a>
</body>
</html>
